*{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{font-family:"Open Sans",sans-serif;line-height:1.5;color:#fff}

h1,h2,h3,h4,h5,h6{font-family:"Poppins",sans-serif}img{width:100%}


.maincase{background:top center no-repeat url(../images/bg-mobile.svg),#674baf;padding:32px 35px 40px}

.logo-wrap{margin-bottom:50px}

.logo-wrap img{max-width:125px}

.cont-left{margin-bottom:56px}

.cont-right{text-align:center}

.cont-right h1{font-size:1.5rem;margin-bottom:13px}

.register-btn{text-align:center;display:block;font-size:13px;background:#fff;margin-top:24px;text-decoration:none;padding:11px;max-width:200px;margin:24px auto auto;border-radius:30px;color:#674baf;-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.65);box-shadow:0px 0px 10px 0px rgba(0,0,0,0.65)}

.register-btn:hover{background-color:#e882e8;color:#fff}

.social-icons{margin-top:55px}

.social-icons ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;gap:7px}

.social-icons li{list-style-type:none}

.social-icons li span{width:30px;height:30px;border:1px solid #fff;border-radius:50%;color:#fff;text-align:center;padding-top:6px}

.social-icons li a:hover span{color:#4365fa;border-color:#e882e8}@media all and (min-width: 986px){

 .maincase{background:top center no-repeat url(../images/bg-desktop.svg),#674baf;padding:55px 35px 40px}
    
.container{max-width:1280px;margin:auto}
    
.logo-wrap{margin-bottom:85px}
    
 .logo-wrap img{max-width:205px}

 .content-case{display:-ms-grid;display:grid;-ms-grid-columns:55% 45%;grid-template-columns:55% 45%}
    
 .cont-left{margin-bottom:0}
    
 .cont-right{padding-left:50px;padding-top:39px;padding-right:15px;text-align:left}
    
.cont-right h1{font-size:2.5rem;margin-bottom:20px}
    
 .cont-right p{font-size:1.125rem}
 
 .register-btn{margin-left:0;font-size:1.25rem;padding:13px}
 
 .social-icons{margin-top:15px}

 .social-icons ul{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;gap:16px}
 
 .social-icons li span{width:40px;height:40px;padding-top:10px}}
